pydantic==1.*
numpy==1.22.2
pillow>=10.2.0
starlette>=0.27.0
fastapi>=0.88.0
uvicorn==0.20.0
timm==0.6.12
pathlib==1.0.1
google-cloud-storage==2.7.0
python-dotenv==0.21.0
opencv-python>=4.8.1.78 
setuptools==65.5.1
fonttools>=4.43
certifi>=2023.7.22
